.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
}

.btn span {
  margin-right: 5px;
}

h1 {
  margin-bottom: 1rem;
}

/* ------------------------------- */
/* Main layout component */

.main_layout_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.header {
  flex: 0 1 auto;
  align-self: auto;
}

.main_content {
  flex: 1 1 auto;
  align-self: auto;
  min-height: calc(100vh - 150px);
}

.footer {
  flex: 0 1 auto;
  align-self: auto;
  text-align: center;
  margin-top: 1rem;
}

.footer p:first-child {
  margin-bottom: 0;
}
/* ------------------------------- */
/* Navbar component */
nav ul li {
  padding: 12px;
}

.nav_logo li a{
  font-size: 1.2rem;
}

.nav_links {
  /* display: none; */
  display: flex;
  align-items: center;
  justify-content: end;
}

.logout_form {
  margin-bottom: 0;
}

.btn.logout_btn {
  padding: 0.5rem;
  border: none;
  outline: none;
}

@media (max-width: 576px) {
  .nav_links li a {
    padding: 0;
  }

  .btn.logout_btn span {
    display: none;
  }
}

/* ------------------------------- */
/* Home page component */
.accent{
  color: var(--primary);
}

.viewAll_todo_btn {
  text-align: center;
}
/* ------------------------------- */
/* Intro component */
.intro > .grid {
  min-height: calc(100vh - 150px);
}

.intro_grid_form,
.intro_grid_svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro_grid_form .headings {
  text-wrap: balance;
}

/* ------------------------------- */
/* Todolist component */
.todo_list_accordion {
  border-bottom: none;
  margin-bottom: 0;
}

/* ------------------------------- */
/* Todo item component */
.todo_item {
  margin-bottom: 1rem;
}

.todo_item a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary);
  border-left: 5px solid var(--secondary);
  border-bottom: 0.3px solid var(--secondary);
  padding: 14px 1rem;
}

.todo_item a:hover,
.todo_item a:focus,
.todo_item a:active {
  text-decoration: none;
}

/* ------------------------------- */
/* Todo form component */
.todo_form_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* ------------------------------- */
/* Todo item page component */
.todo_item_page_con {
  min-height: 100vh;
}

.todo_item_page_con .headings {
  position: relative;
  border-bottom: 1px solid var(--secondary);
  padding-bottom: 12px;
}

.todo_item_page_con .headings p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-right: 5px;
  padding: 0;
}

.todo_updated_time{
  font-size: 0.9rem;
}

.todo_item_page_con .headings .pinned_btn {
  width: fit-content;
  padding: 0;
  border-radius: 50%;
  border: none;
  outline: none;
  color: var(--secondary);
  margin: 0;
}

.pinned_btn:focus {
  all: unset;
}

.pinned_btn span {
  margin: 0;
  padding: 0;
  margin-right: 8px;
}

.todo_item_page_footer {
  padding: 3px 1rem;
  position: sticky;
  bottom: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.todo_item_page_btns {
  /* margin-bottom: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 576px) {
  .todo_item_page_btns span {
    display: none;
  }
}

/* ------------------------------- */
/* Error page component */
.error_page {
  text-align: center;
  text-wrap: balance;
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.error_page h1 {
  margin-bottom: 1rem;
}

.error_page_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 768px) {
}

/* ------------------------------- */
/* 404 error page component */

/* ------------------------------- */
/* React Toastify */
.Toastify__close-button {
  width: fit-content;
  padding-right: 8px;
}

.Toastify__toast-theme--colored.Toastify__toast--info {
  background-color: var(--primary);
}
